body{
  overflow:scroll;
}

.containr{

  /* width:100vw; */
  height: 100vh;
  /* border: 3px solid green; */

  /* background-image: url("https://images.pexels.com/photos/941864/pexels-photo-941864.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */

}

#header{

  margin: auto;
  margin-left: 250px;
  padding: 10px;
}